# Problem 1.
Write a Python Program to implement your own myreduce() function which works exactly 
like Python's built-in function reduce()

In [162]:
import types

In [163]:
def reduce(function, sequence):
    '''
    reduce(function, sequence[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence,
from left to right.
    '''
    if type(function) == types.FunctionType:
        left = sequence.pop(0)
        for right in sequence:
            left = function(left, right)
        return left
    else:
        a = type(function)
        raise TypeError(a,"object is not callable")

In [209]:
l = [1,2,3,4,5,6]
l1 = [1,2,3,4,5,8,'bappy','ahmed']

In [165]:
def add(a,b):
    return a+b

In [210]:
reduce(add,l)

21

In [166]:
def add1(a,b):
    return str(a)+str(b)

In [168]:
reduce(add1,l1)

'123458bappyahmed'

# Problem 2.
Write a Python program to implement your own map() function which works exactly 
like Python's built-in function map()

In [203]:
def _map(function, iterables):
     if type(function) == types.FunctionType:
            out = []
            for i in iterables:
                fun_out = function(i)
                out.append(fun_out)
            return out
        
     else:
        a = type(function)
        raise TypeError(a,"object is not callable")

In [204]:
l = [34,56,34,6.6]
l1 = [2,3,4,'bappy', 6, 'ahmed']

def makestr(n):
    return str(n)

In [207]:
_map(makestr,l1)

['2', '3', '4', 'bappy', '6', 'ahmed']

In [205]:
def addtwo(n):
    return n+2

In [208]:
_map(addtwo,l)

[36, 58, 36, 8.6]

# Problem 3.
Write a Python program to implement your own myfilter() function which works exactly 
like Python's built-in function filter()

In [218]:
# Custom filter function 
def _filter(function, sequence):
     if type(function) == types.FunctionType:
            result = []
            for item in sequence:
                if function(item):
                    result.append(item)
            return result
            
     else:
        a = type(function)
        raise TypeError(a,"object is not callable")

In [219]:
l = [3,4,5,6,7]

In [220]:
_filter(lambda a : a if a>=5  else 0,l)

[5, 6, 7]

# Problem 4.
Implement List comprehensions to produce the following lists. 
Write List comprehensions to produce the following Lists


- ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz'] 
- ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz'] 
- [[2], [3], [4], [3], [4], [5], [4], [5], [6]] 
- [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
- [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [227]:
char = ['x','y','z']
[i*j  for i in char for j in range(1,5) ]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [231]:

char = ['x','y','z']
[ item*num for num in range(1,5) for item in char]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [239]:
num_list = [2,3,4]
[ [item+num] for item in num_list for num in range(0,3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [240]:
num_list = [2,3,4,5]
[ [item+num for item in num_list] for num in range(0,4)  ]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [242]:
input_list=[1,2,3]
[ (b,a) for a in input_list for b in input_list]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]